.title {
    color: #2dbe57;
}
.heading {
    margin-bottom: 5em;
}

.control-center {
    text-align: center;
}

.console {
    overflow-y: scroll;
    height:400px;
    margin-bottom: 2em;
}

.line {
    font-family: "Lucida Console", Monaco, monospace;
    color: #2d2d2d;
}